<div class="back">
  <%= render 'shared/header' %>
  <div class="container">
    <div class="box">
      <h1>記録の追加</h1>
      <% if @record.errors.any? %>
      <div id="error_explanation">
        <ul>
          <% @record.errors.full_messages.each do |err| %>
          <li><%= err %></li>
          <% end %>
        </ul>
      </div>
      <% end %>
      <%= render 'form' %>
    </div>
  </div>
  <%= render 'shared/footer' %>
</div>