<div class="back">
<%= render 'shared/header' %>
  <div class="container">
    <!-- 時間表示 -->
    <div class="time">
      <div class="time-content">
        <div class="time-header">本日の合計</div>
        <p>０３時間３０分</p>
      </div>
      <div class="time-content">
        <div class="time-header">今週の合計</div>
        <p>１３時間４０分</p>
      </div>
      <div class="time-content">
        <div class="time-header">今までの合計</div>
        <p>３５時間２０分</p>
      </div>
    </div>

    <!-- main -->
    
    </div> 
  </div>
  <%= render 'shared/footer' %>
</div>