@import "variables";

/* =====================
  header
===================== */
.header {
  background-color: $c-navy;
  height: 60px;
  padding: 5px 10px;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1;

  img {
    max-width: 80%;
    height: auto;
  }

  .global-nav {
    position: fixed;
    right: -320px;
    top: 0;
    width: 300px;
    height: 100vh;
    padding-top: 40px;
    background-color: $c-navy;
    transition: all .6s;
    z-index: 200;
    overflow-y: auto;
  }

  .hamburger {
    position: absolute;
    right: 0;
    top: 0;
    width: 40px;
    height: 40px;
    cursor: pointer;
    z-index: 300;
  }

  .global-nav__list {
    margin: 0;
    padding: 0;
    list-style: none;
  }

  .global-nav__item {
    text-align: center;
  }

  .global-nav__item a {
    display: block;
    height: 60px;
    line-height: 58px;
    text-decoration: none;
    color: #c5c5c5;
    font-weight: 500;
    font-size: 22px;
  }

  .global-nav__item a:hover {
    background-color: #517c92;
  }

  .hamburger__line {
    position: absolute;
    left: 11px;
    width: 18px;
    height: 1px;
    background-color: $c-white;
    transition: all .6s;
  }

  .hamburger__line--1 {
    top: 14px;
  }

  .hamburger__line--2 {
    top: 20px;
  }

  .hamburger__line--3 {
    top: 26px;
  }

  .black-bg {
    position: fixed;
    left: 0;
    top: 0;
    width: 100vw;
    height: 100vh;
    z-index: 100;
    background-color: $c-black;
    opacity: 0;
    visibility: hidden;
    transition: all .6s;
    cursor: pointer;
  }

  /* ナビゲーションが開いた時 */
  .nav-open {
    .global-nav {
      right: 0;
    }

    .black-bg {
      opacity: .8;
      visibility: visible;
    }

    .hamburger__line--1 {
      transform: rotate(405deg);
      top: 20px;
    }
  
    .hamburger__line--2 {
      width: 0;
      left: 50%;
    }

    .hamburger__line--3 {
      transform: rotate(-405deg);
      top: 20px;
    }
  }

  .right {
    height: 50px;
    display: inline-block;
    color: #9dc8cf;
    font-weight: 600;
    font-size: 25px;
    position: absolute;
    right: 10px;
    padding: 5px;
  }
}

.header__logo {
  display: inline-block;
  font-size: 40px;
  font-weight: 900;
  height: 50px;
}

.header_tmp {
  width: 100%;
  height: 60px;
}

/* =====================
  error
===================== */
#error_explanation {
  ul {
    padding: 0;
  }

  li {
    list-style: none;
    color: #f54747;
  }
}

/* =====================
  content
===================== */
.back {
  min-height: 100%;
  background-color: #efe5cb;
  background-image: url("https://www.transparenttextures.com/patterns/white-paperboard.png");

  .container {
    min-height: 100%;

    .box {
      background-color: $c-white;
      border: 1px solid #d4d4d5;
      border-radius: 5px;

      .yellow-disable {
        background-color: #fbbd0880;
        color: $c-white;

        &:hover, &:active, &:focus {
          background-color: #fbbd0880;
          color: $c-white;
        }
      }

      .red-disable {
        background-color: #db282980;
        color: $c-white;

        &:hover, &:active, &:focus {
          background-color: #db282980;
        color: $c-white;
        }
      }
    }

    .notice-message {
      background-color: #d0ead3;
      color: #4b7750;
      border: 1px solid #9dcaa2;
      border-radius: 5px;
      font-size: 1em;
      margin-bottom: 10px;
      padding: 1em 1.5em;
    }

    .alert-message {
      background-color: #FFE8E6;
      color: #c14e4e;
      border: 1px solid #f39797;
      border-radius: 5px;
      font-size: 1em;
      margin-bottom: 10px;
      padding: 1em 1.5em;
    }

    /* =====================
      button
    ===================== */
    .yellow-button {
      background-color: #f9c738;
      color: $c-white;

      &:hover, &:active, &:focus {
        background-color: #ffde7c;
        color: $c-white;
      }
    }

    .blue-button {
      background-color: #4e7784;
      color: $c-white;

      &:hover, &:active, &:focus {
        background-color: #6296a7;
        color: $c-white;
      }
    }

    .red-button {
      background-color: #ce5252;
      color: $c-white;

      &:hover, &:active, &:focus {
        background-color: #ef7474;
        color: $c-white;
      }
    }
  }
}

/* =====================
  footer
===================== */
.footer {
  height: 60px;
  text-align: center;
  background-color: $c-navy;
  color: $c-light-blue;
}

.copyright {
  line-height: 60px;
}
