/* =====================
  header
===================== */
header {
  background-color: #2b4552;
  height: 60px;
  width: 100%;
  min-width: 420px;
  box-shadow: 1px 6px 5px #00000061;
  padding: 5px 10px;
  position: relative;

  #logo {
    height: 50px;
    font-size: 40px;
    font-weight: 900;
    color: #cee4ef;
    display: inline-block;
  }
  
  img {
    max-width: 80%;
    height: auto;
  }

  .right {
    height: 50px;
    display: inline-block;
    color: #9dc8cf;
    font-weight: 600;
    font-size: 25px;
    position: absolute;
    right: 10px;
    padding: 5px;

    .header-menu {
      height: 2rem;
      margin: 0 auto;
      width: 230px;
      font-size: 18px;
      font-weight: 400;
      position: absolute;
      right: -15px;

      li {
        list-style: none;
        position: relative;

        & > a {
          color: #98c2c9;
          display: block;
          height: 40px;
          line-height: 35px;
          text-align: center;
          text-decoration: none;
          width: 100%;
        }

        li.child {
          background-color: #325363;
          height: 0;
          overflow: hidden;
          transition: 0.5s;
          top: 10px;
          left: -25px;
          
          a {
            line-height: 47px;
          }

          &:hover {
            background-color: #447188;
          }
        }

        &:hover li.child {
          height: 50px;
          overflow: visible;
        }
      }
    }
  }
}

/* =====================
  content
===================== */
.back {
  background-color: #9dc8cf;
  background-image: url("https://www.transparenttextures.com/patterns/white-paperboard.png");
}

/* =====================
  footer
===================== */
footer {
  height: 60px;
  text-align: center;
  background-color: #2b4552;
  color: #c1d9f1;
  line-height: 50px;
}