/* =====================
  header
===================== */
header {
  background-color: #2b4552;
  height: 60px;
  width: 100%;
  padding: 5px 10px;
  position: relative;

  #logo {
    height: 50px;
    font-size: 40px;
    font-weight: 900;
    color: #cee4ef;
    display: inline-block;
  }
  
  img {
    max-width: 80%;
    height: auto;
  }

  .global-nav {
    position: fixed;
    right: -320px;
    top: 0;
    width: 300px;
    height: 100vh;
    padding-top: 40px;
    background-color: #2b4552;
    transition: all .6s;
    z-index: 200;
    overflow-y: auto;
  }

  .hamburger {
    position: absolute;
    right: 0;
    top: 0;
    width: 40px;
    height: 40px;
    cursor: pointer;
    z-index: 300;
  }

  .global-nav__list {
    margin: 0;
    padding: 0;
    list-style: none;
  }

  .global-nav__item {
    text-align: center;
  }

  .global-nav__item a {
    display: block;
    height: 60px;
    line-height: 58px;
    text-decoration: none;
    color: #c5c5c5;
    font-weight: 500;
    font-size: 22px;
  }

  .global-nav__item a:hover {
    background-color: #517c92;
  }

  .hamburger__line {
    position: absolute;
    left: 11px;
    width: 18px;
    height: 1px;
    background-color: #fff;
    transition: all .6s;
  }

  .hamburger__line--1 {
    top: 14px;
  }

  .hamburger__line--2 {
    top: 20px;
  }

  .hamburger__line--3 {
    top: 26px;
  }

  .black-bg {
    position: fixed;
    left: 0;
    top: 0;
    width: 100vw;
    height: 100vh;
    z-index: 100;
    background-color: #000;
    opacity: 0;
    visibility: hidden;
    transition: all .6s;
    cursor: pointer;
  }

  /* 表示された時用のCSS */
  .nav-open .global-nav {
    right: 0;
  }

  .nav-open .black-bg {
    opacity: .8;
    visibility: visible;
  }

  .nav-open .hamburger__line--1 {
    transform: rotate(405deg);
    top: 20px;
  }

  .nav-open .hamburger__line--2 {
    width: 0;
    left: 50%;
  }

  .nav-open .hamburger__line--3 {
    transform: rotate(-405deg);
    top: 20px;
  }

  .right {
    height: 50px;
    display: inline-block;
    color: #9dc8cf;
    font-weight: 600;
    font-size: 25px;
    position: absolute;
    right: 10px;
    padding: 5px;
  }
}

/* =====================
  error
===================== */

#error_explanation {
  ul {
    padding: 0;
  }

  li {
    list-style: none;
    color: #f54747;
  }
}

/* =====================
  content
===================== */
.back {
  min-height: 100%;
  background-color: #efe5cb;
  background-image: url("https://www.transparenttextures.com/patterns/white-paperboard.png");

  .container {
    min-height: 100%;

    .box {
      background-color: #fff;
      border: 1px solid #d4d4d5;
      border-radius: 5px;
    }

    .notice-message {
      background-color: #d0ead3;
      color: #4b7750;
      border: 1px solid #9dcaa2;
      border-radius: 5px;
      font-size: 1em;
      margin-bottom: 10px;
      padding: 1em 1.5em;

    }
    
    /* =====================
      button
    ===================== */
    .yellow-button {
      background-color: #f9c738;
      color: #fff;

      &:hover, &:active, &:focus {
        background-color: #ffde7c;
        color: #fff;
      }
    }

    .blue-button {
      background-color: #4e7784;
      color: #fff;

      &:hover, &:active, &:focus {
        background-color: #6296a7;
        color: #fff;
      }
    }

    .red-button {
      background-color: #ce5252;
      color: #fff;

      &:hover, &:active, &:focus {
        background-color: #ef7474;
        color: #fff;
      }
    }
  }
}

/* =====================
  footer
===================== */
footer {
  height: 60px;
  text-align: center;
  background-color: #2b4552;
  color: #c1d9f1;
  
  .copyright {
    line-height: 60px;
  }
}
