@import "semantic-ui";
@import 'common';

.container {
  padding: 15px 15px 30px 15px;

  .box {
    width: 350px;
    min-height: 210px;
    background-color: #fff;
    margin: 60px auto;
    border-radius: 4px;
    padding: 20px 26px;

    h1 {
      font-weight: 400;
      font-size: 28px;
      line-height: 1.2;
      margin-bottom: 10px;
      padding-bottom: 4px;
      color: #111111;
      display: inline-block;
    }

    .right {
      float: right;
    }

    .category-table {
      text-align: center;
    }
  }
}