@import "semantic-ui";
@import "common";
@import "devise-common";

.container {
  padding: 15px 15px 30px 15px;

  h1 {
    display: inline-block;
    width: 70%;
  }

  .box {
    max-width: 600px;
    min-width: 245px;
    padding: 20px 26px;

    @media only screen and (min-height: 511px) {
      margin: calc((100vh - 401px) / 2) auto;
    }

    @media only screen and (max-height: 510px) {
      margin: 10px auto;
    }

    .output {
      margin-bottom: 20px;
      text-align: center;

      label {
        background: #f9fafb;
        border: 1px solid #dededf;
        border-top-left-radius: 5px;
        border-top-right-radius: 5px;
        display: inline-block;
        font-size: 16px;
        font-weight: 600;
        height: 40px;
        line-height: 36px;
        width: 100%;
      }

      .el {
        display: inline-block;
        font-size: 14px;
        border-bottom: 1px solid #dededf;
        border-bottom-left-radius: 5px;
        border-bottom-right-radius: 5px;
        border-left: 1px solid #dededf;
        border-right: 1px solid #dededf;
        line-height: 48px;
        min-height: 50px;
        padding: 0 15px;
        width: 100%;
        word-wrap: normal;
      }
    }

    .center {
      text-align: center;
    }

    .right {
      float: right;
    }
  }

  .form-group {
    margin-bottom: 13px;
  }

  label {
    font-size: 13px;
    font-weight: 700;
    padding-bottom: 2px;
    padding-left: 2px;
  }
}