@import "semantic-ui";
@import "common";
@import "devise-common";

.box {
  min-height: 410px;
  margin: calc((100vh - 120px - 434px)/2) auto;
  padding: 20px 26px;
  width: 350px;

  .login {
    display: block;
    height: 31px;
    line-height: 0.5em;
    margin-bottom: 14px;
    width: 100%;
  }

  .box-newusr {
    border-top: 1px solid #dededf;

    p {
      color: #767676;
      font-size: 12px;
      margin: 14px 0;
      text-align: center;
    }

    a {
      display: block;
      height: 31px;
      line-height: 0.5em;
      text-align: center;
      width: 100%;
    }
  }
}

h1 {
  color: $c-black;
  font-weight: 400;
  font-size: 28px;
  line-height: 1.2;
  margin-bottom: 10px;
  padding-bottom: 4px;
}

.box-email {
  margin-bottom: 13px;
}

.box-password {
  margin-bottom: 22px;
}

.box-email label, .box-password label {
  font-size: 13px;
  font-weight: 700;
  padding-bottom: 2px;
  padding-left: 2px;
}

.column-left {
  float: left;
}

.column-right {
  float: right;
}