@import "semantic-ui";
@import "common";

.back {
  .container {
    min-height: calc(100vh - 120px);
    padding: 15px 15px 30px 15px;

    /* =====================
    時間表示
    ===================== */
    .time {
      .time-content {
        background-color: $c-white;
        border: 1px solid #d4d4d5;
        border-radius: 5px;
        color: gray;
        display: inline-block;
        font-size: 30px;
        font-weight: 900;
        height: 100%;
        vertical-align: middle;

        .time-header {
          background-color: $c-navy;
          border-color: $c-navy;
          border-top-left-radius: 5px;
          border-top-right-radius: 5px;
          color: #9dc8cf;
          font-size: 17px;
          height: 40px;
          margin: 0 auto;
          padding: 10px;
          width: 100%;
        }

        p {
          border-bottom-left-radius: 5px;
          border-bottom-right-radius: 5px;
          text-align: center;
        }
      }
    }

    @media only screen and (max-width: 767px) {
      .time {
        width: 100%;
        height: 420px;
        display: block;
        margin: 20px 0;

        .time-content {
          width: 100%;
          height: 120px;
          margin-bottom: 20px;

          p {
            line-height: 74px;
          }
        }
      }
    }

    @media only screen and (min-width: 768px) {
      .time {
        display: flex;
        flex-direction: row;
        height: 200px;
        justify-content: space-between;
        margin-bottom: 20px;
        padding: 2.5% 0;
        width: 100%;

        .time-content {
          width: calc((100% / 3) - (20px * 2 / 3));

          p {
            line-height: 108px;
          }
        }
      }
    }

    .category-display {
      position: relative;
    }

    .top .accordion.category-all {
      display: inline-block;
      width: 200px;
    }

    .top .category-add {
      display: inline-block;
      height: 40px;
      line-height: 20px;
      margin-left: 5px;
      position: absolute;
      top: 0;
      width: 40px;
    }

    .category-select {
      height: 48px;

      select.selection {
        height: 41px;
      }

      a {
        height: 41px;
        line-height: 20px;
        min-width: 80px;
      }
    }

    table.fixed.table {
      thead th,
      tbody td {
        text-align: center;
      }
    }

    .norecords {
      color: #808080;
      font-size: 19px;
      font-weight: 600;
      padding: 20px;
    }
  }
}

.top {
  margin: 0 auto;
  max-width: 900px;
}

/* =====================
ページネーション
===================== */
nav.pagination {
  display: flex;
  justify-content: center;
  text-align: center;

  span {
    background-color: $c-white;
    border: 1px solid #dededf;
    color: $c-black;
    cursor: pointer;
    display: inline-block;
    height: 45px;
    line-height: 41px;
    margin: -1px;
    width: 45px;

    &:first-child {
      border-bottom-left-radius: 5px;
      border-top-left-radius: 5px;
    }

    &:last-child {
      border-bottom-right-radius: 5px;
      border-top-right-radius: 5px;
    }

    a {
      color: $c-black;
      display: inline-block;
      height: 100%;
      width: 100%;

      &:hover {
        color: $c-black;
      }
    }

    &:hover, &:active {
      background-color: #f7f7f7;
    }

    &.page.current {
      background-color: #f2f2f2;
    }
  }
}