@import "semantic-ui";
@import "common";

.time {
  height: 200px;
  width: 100%;
  min-width: 740px;
  margin-bottom: 40px;
  padding: 2.5% 0;
  display: flex;
  flex-direction: row;
  justify-content: space-between;

  .time-content {
    display: inline-block;
    border-radius: 5px;
    height: 100%;
    width: calc((100% / 3) - (20px * 2 / 3));
    background-color: #fff;
    color: gray;
    font-size: 30px;
    font-weight: 900;
    vertical-align: middle;

    .time-header {
      background-color: #2b4552;
      height: 40px;
      widows: 100%;
      color: #9dc8cf;
      border-color: #2b4552;
      border-top-left-radius: 5px;
      border-top-right-radius: 5px;
      font-size: 20px;
      padding: 10px;
      margin: 0 auto;
    }

    p {
      height: 100%;
      border-bottom-right-radius: 5px;
      border-bottom-left-radius: 5px;
      text-align: center;
    }
  }
}

.container {
  padding: 15px 15px 30px 15px;

  .category-select {
    padding-bottom: 10px;

    select.selection {
      height: 41px;
    }
  }

  table.fixed.table {
    thead th, tbody td{
    text-align: center;
  }
}
}

