@import "semantic-ui";
@import "common";

.container {
  padding: 15px 15px 30px 15px;

  h1 {
    display: inline-block;
    width: 70%;
  }

  .box {
    margin: 60px auto;
    max-width: 600px;
    min-width: 330px;
    min-height: 800px;
    padding: 20px 26px;

    .output {
      margin-bottom: 20px;
      text-align: center;

      label {
        background: #f9fafb;
        border: 1px solid #dededf;
        border-top-left-radius: 5px;
        border-top-right-radius: 5px;
        display: inline-block;
        font-size: 16px;
        font-weight: 600;
        height: 40px;
        line-height: 36px;
        width: 100%;
      }

      .el {
        border-left: 1px solid #dededf;
        border-right: 1px solid #dededf;
        border-bottom: 1px solid #dededf;
        border-bottom-left-radius: 5px;
        border-bottom-right-radius: 5px;
        display: inline-block;
        font-size: 14px;
        line-height: 48px;
        min-height: 50px;
        padding: 0 15px;
        width: 100%;
        word-wrap: normal;

        &.content img {
          width: 100%;
        }
      }
    }

    .bottom_button {
      height: 40px;
      position: relative;

      .records_back {
        bottom: 2px;
        display: inline-block;
        position: absolute;
      }
    }

    .time-nyoro {
      display: inline-block;
      padding: 10px;
      width: 38px;

      img {
        width: 100%;
      }
    }

    .time {
      display: inline-block;
      width: 200px;
    }

    .right {
      float: right;
    }
  }

  .form-group {
    margin-bottom: 13px;
  }

  label {
    font-weight: 700;
    font-size: 13px;
    padding-bottom: 2px;
    padding-left: 2px;
  }
}

