@import "semantic-ui";
@import "common";

.container {
  padding: 15px 15px 30px 15px;

  .box {
    width: 630px;
    min-height: 750px;
    background-color: #fff;
    margin: 60px auto;
    border-radius: 4px;
    padding: 20px 26px;

    .form-group {
      margin-bottom: 13px;
      .input .form-control.date {
        padding-left: 2.67142857em;
      }
    }

    .required {
      margin-left: 2px;
      color: #f54747;
    }

    .time-nyoro {
      display: inline-block;
      width: 38px;
      padding: 10px;
      height: 25px;
      vertical-align: middle;

      img {
        width: 100%;
      }
    }

    .total {
      #h, #m {
        width: 57px;
        background-color: #dededf;
        text-align: center;
      }

      span {
        display: inline-block;
        height: 40px;
        line-height: 38px;
        margin: 0 10px;
      }
    }

    .time {
      display: inline-block;
      width: 200px;
    }

    .right {
      float: right;
    }

    .bottom_link {
      display: inline-block;
      height: 39px;
      width: 125px;
      position: relative;

      .records_back {
        position: absolute;
        bottom: 19px;
      }
    }

    trix-editor {
      height: 200px;
      overflow-y: auto;
      background-color: #fff;
      border: 1px solid #dededf;
      border-radius: 5px;

      &:focus {
        border-color: #85B7D9;
      }
    }

    
  }

  label {
    font-weight: 700;
    font-size: 13px;
    padding-left: 2px;
    padding-bottom: 2px;
  }
}

